{% extends 'layout.twig' %}

{% block body %}
  <h1>{{out}}</h1>
  <button style="margin-top:10%;width:325px;" class="button-primary" onClick="lovelyGen();">What a lovely generalization</button>
  <button style="width:325px;" onClick="window.location.reload();">That wasn't a lovely generalization!</button>
  <button style="width:325px;" onClick="dealWithIt();">That wasn't even a generalization!</button>
  <p id="counter"></p>
{% endblock %}
