{% extends 'layout.twig' %}

{% block body %}
  <h1 style="margin-bottom:7%;">{{out}}</h1>
  <div id="tagline" style="width:325px;text-align:center;visibility:hidden;"><strong>THAT'S HOW IT'S DONE!</strong></div>
  <button style="width:325px;" class="button-primary" onmouseover="showTagline()" onmouseout="hideTagline()" onClick="lovelyGen();">What a lovely generalization</button>
  <button style="width:325px;" onClick="window.location.reload();">That wasn't a lovely generalization!</button>
  <button style="width:325px;" onClick="dealWithIt();">That wasn't even a generalization!</button>
  <p id="counter"></p>
{% endblock %}
